[submodule "CienciasDatos"]
	path = CienciasDatos
	url = https://github.com/YaelHuerta1/CienciasDatos
[submodule "DataScience"]
	path = DataScience
	url = https://github.com/DNovaO/DataScience
[submodule "Ciencia-24"]
	path = Ciencia-24
	url = https://github.com/Rubensotelo03/Ciencia-24
[submodule "Ciencia-de-datos"]
	path = Ciencia-de-datos
	url = https://github.com/ChrisN555/Ciencia-de-datos
[submodule "CienciadeDatos_CIAL"]
	path = CienciadeDatos_CIAL
	url = https://github.com/lalo1905/CienciadeDatos_CIAL
